<div class="py-5">
  <div class="container translate-middle- w-50 mx-auto  ">


    <form class="p-5" (ngSubmit)="handelRestpassword(restpasswordForm)" [formGroup]="restpasswordForm">
      <h2 class="text-main p-3"> Rest password :</h2>

    <p *ngIf="ApiErrorMessage" class="alert alert-danger text-center">{{ApiErrorMessage}}</p>


    <div class="form-floating mb-3">
      <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">email</label>
    </div>
      <div *ngIf="restpasswordForm.get('email')?.invalid && restpasswordForm.get('email')?.touched" class="text-danger">
        <p *ngIf="restpasswordForm.get('email')?.getError('required')" class="my-0 mb-2">email is Reguierd</p >
        <p *ngIf="restpasswordForm.get('email')?.getError('email')" class="my-0 mb-2">please enter a valid email</p >
      </div>



      <div class="form-floating">
        <input formControlName="newPassword" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">newPassword</label>
      </div>
      <div *ngIf="restpasswordForm.get('newPassword')?.invalid && restpasswordForm.get('newPassword')?.touched" class="text-danger">
        <p *ngIf="restpasswordForm.get('newPassword')?.getError('required')" class="my-0">password is Reguierd</p >
        <p *ngIf="restpasswordForm.get('newPassword')?.getError('pattern')" class="my-0">password must start with uppercase followed by at least 5 characters </p>
      </div>

      <div class="d-flex justify-content-end align-items-center ">
        <button [disabled]="restpasswordForm.invalid || isLoding" class="mt-2 btn btn-outline-success ">
          <span *ngIf="!isLoding">Send</span>
          <span *ngIf="isLoding" class="fa-solid fa-spinner fa-spin"></span>
        </button>
      </div>



    </form>
  </div>
</div>
