
<footer class=" bg-main-light   py-5 ">

    <div class=" container p-5 p-md-0    ">
      <div class="app-info">
        <h2>Get the FreshCart app</h2>
        <p>We will send you a link, open it on your phone to download the app.</p>
      </div>

        <div class="email-container d-flex  gap-3 p-2 mt-5 pb-5  ">
          <input class=" w-75 w-sm-100  form-control " type="email" placeholder="Email .." />
          <button class="btn bg-main flex-shrink-0 ">Share App Link</button>
        </div>
        <hr>
        <h6 class="text-center  "> <a> &copy; <span class="fw-bold text-main">Ayman Rashed</span> All Rights Resrved</a> </h6>

        <!-- <div class="d-flex justify-content-between py-5 ">
          <div class="partners">
            <p>Payment Partners</p>
            <div class="partner-logos">
              <img src="./assets/visa-1.svg" alt="Amazon Pay">
              <img src="./assets/visa.svg" alt="American Express">
              <img src="./assets/master.svg" alt="Mastercard">
            </div>
          </div>

          <div class="delivery-apps ms-4">
            <p>Get deliveries with FreshCart</p>
            <div class=" btns d-flex text-center ">

              <button class="btn btn-sm flex-grow-1 btn-dark text-white d-flex p-2  mx-2 text-center align-items-center justify-content-center ">
                <img width="25px" class="mx-2"  src="./assets/app-store.svg" alt="App Store">
                <p class="p-0 m-0">avaliabe in the <br> <span class="fw-bold">App</span></p>
              </button>

              <button class="btn btn-sm flex-grow-1  btn-dark text-white d-flex p-2  mx-2 text-center align-items-center justify-content-center">
                <img width="25px" class="mx-2 "  src="./assets/google-store.svg" alt="App Store">
                <p class="p-0 m-0">Get it on <br> <span class="fw-bold">Google play</span></p>
              </button>


            </div>



            </div>
          </div> -->

        </div>






</footer>

