
@media (max-width: 360px) {
.col-xsm-6 {
    width: 50% !important;
  }
  .w-xsm-100{
    width: 100% !important;
    margin-top: 10px;

  }

.img {
  width: 300px !important;
}
}

@media (max-width: 360px) {
  .img {
    width: 200px !important;
  }
}
