<div class="py-5">
  <div class="container p-5 w-auto  w-50 mx-auto  ">


    <form (ngSubmit)="handelrestcode(verifycodeform)" [formGroup]="verifycodeform">
      <h2  class="text-main fw-bold"> verify Rest password   </h2>
      <P class="fw-bold fs-sm"> please enter code sended to Your Email</P>
    <p *ngIf="ApiErrorMessage" class="alert alert-danger text-center">{{ApiErrorMessage}}</p>


    <div class="form-floating mb-3">
      <input formControlName="resetCode" type="text" class="form-control" id="floatingInput" placeholder="" >
      <label for="floatingInput">resetCode</label>
    </div>
      <div *ngIf="verifycodeform.get('resetCode')?.invalid && verifycodeform.get('resetCode')?.touched" class="text-danger">
        <p *ngIf="verifycodeform.get('resetCode')?.getError('required')" class="my-0 mb-2">resetCode is Reguierd</p >
      </div>

      <div class="d-flex justify-content-end align-items-center ">
        <button [disabled]="verifycodeform.invalid || isLoding" class="mt-2 btn btn-outline-success">
          <span *ngIf="!isLoding">Send</span>
          <span *ngIf="isLoding" class="fa-solid fa-spinner fa-spin"></span>
        </button>
      </div>



    </form>
  </div>
</div>

